[submodule "server/proxy"]
	path = server/proxy
	url = git@github.com:NUTFes/nginx_config.git
[submodule "security/stickee"]
	path = security/stickee
	url = git@github.com:NUTFes/stickee.git
[submodule "projects"]
	path = projects
	url = git@github.com:NUTFes/envfiles.git
